html, body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-decoration: underline #1E88A8;
}

p {
  font-weight: 200;
}

a {
  color:  #2EA9DF;
}
a:hover {
  color: #1E88A8;
}

.container-fluid {
  max-width: 1100px;
}

header {
  padding-top: 10px;
  box-shadow: 0 0 3px gray;
  margin-bottom: 20px;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
footer .footer-sns {
  display: flex;
  justify-content: center;
	list-style: none;
  font-size: 30px;
}
footer .footer-sns a {
  color: black;
}
footer .footer-sns a:hover {
  color: #1E88A8;
}
footer .footer-sns li:not(:last-child) {
	margin-right: 30px;
}

/* nav */
header .nav-item {
  border-left: 1px solid lightgray;
  letter-spacing: 0.1em;
}
header .nav-item:last-child {
  border-right: 1px solid lightgray;
}
header .nav-item h6 {
  margin: 0;
}
header .nav-item a {
  color: black;
}
header .nav-item a:hover {
  background-color: lightgray;
}
header .nav-item .disabled {
  background-color: rgb(73, 73, 73);
  color: white;
}

a.more-link {
  color: darkgray;
}
a.more-link:hover {
  color: dimgray;
  text-decoration: none;
}

.carousel {
  box-shadow: 0 0 7px lightgray;
}

svg.svg-inline--fa {
  margin-right: 0.2em;
}

/* ページネーション */
.pagenation {
  margin-top: 20px;
	list-style: none;
  display: flex;
  padding-inline-start: 0;
}

.pagenation .next {
	margin-left: auto;
}

.pagenation a {
	width: 7em;
	padding: 0.5em 1em;
	/* border-radius: 1em; */
	background-color: #2EA9DF;
	color: #fff;
	font-size: 14px;
	display: flex;
	align-items: center;
}
.pagenation a:hover {
  background-color:  #1E88A8;
}
.pagenation .next a {
	justify-content: flex-end;
}

.pagenation .prev [class*="fa-"] {
	margin-right: 10px;
}
.pagenation .next [class*="fa-"] {
	margin-left: 10px;
}
